<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="catalogmodule" frontName="catalog1">
            <module name="Astrio_Catalog"/>
        </route>
    </router>
</config>
